<div class="container-narrow">

  <div class="masthead">
    <!--ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Jumble</a></li>
      <li><a href="#">Anagram</a></li>
      <li><a href="#">Crossword</a></li>
    </ul-->
    <h3 class="muted">Word Games</h3>
  </div>

  <hr>

  <div class="jumbotron">
    <h1>
      Jumble Solver
    </h1>

    <p class="lead">
      Type a jumbled word in the box & press enter
    </p> 

    <%=form_tag solver_index_path, 
        :method => :get, 
        :remote => true,
        :id => "solver" do%>
      
      <%= hidden_field_tag :operation, Operation::Jumble%>

      <input id="word" 
        name="word"
        type="text" 
        class="input-xlarge">

    <%end%>

    <%=image_tag "spinner.gif", 
        :id => :spinner,
        :style => "display:none"%>

    <div id="no_matches_found" class="row" style="display: none">
      <div class="span3 offset3">
        <div class="alert text-center">
          Sorry, no jumbles found.
        </div>
      </div>
    </div>

    <div id="solved_words">
    </div>
    
  </div>

  <hr>

  <div class="footer" style="">
      <a href="https://twitter.com/share" 
          class="twitter-share-button" 
          style="vertical-align:top;height:63px;"
          data-url="http://solvethatjumble.com" 
          data-text="The easiest way to solve that annoying word jumble" 
          data-count="none"
          data-hashtags="jumble">Tweet
      </a>

      <span style="float:right">
        Made with love by 
        <%=link_to "@sidbatra",
            "http://twitter.com/sidbatra",
            :target => "_blank"%>
      </span>
  </div>

</div> <!-- /container -->

<%=content_for :javascript do%>
<script type="text/javascript">
  $('#word').focus();

  $('#solver').submit(function(){
    $('#no_matches_found').hide();
    $('#solved_words').html('');
    $('#spinner').show();
  });
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<%=render :partial => "misc/google_analytics",
    :locals => {:tracking_id => "UA-38966972-1"}%>

<%end%>

