<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li <%=apply_active_class Operation::Jumble,@operation%>>
        <a href="http://solvethatjumble.com">
          Jumble
        </a>
      </li>
      <li <%=apply_active_class Operation::Crossword,@operation%>>
        <a href="http://solvethatcrossword.com">
          Crossword
        </a>
      </li>
      <li <%=apply_active_class Operation::Scrabble,@operation%>>
        <a href="http://solvethatscrabble.com">
          Scrabble
        </a>
      </li>
    </ul>
    <h3 class="muted">Word Games</h3>
  </div>

  <hr>

  <div class="jumbotron">
    <h1>
      <%if @operation == Operation::Jumble%>

        <%content_for :title do%>
          Jumble Solver
        <%end%>

        <%content_for :description do%>
          Jumble solver for instantly solving those annoying 
          jumble word problems
        <%end%>

        Jumble Solver
      <%elsif @operation == Operation::Crossword%>

        <%content_for :title do%>
          Crossword Solver
        <%end%>

        <%content_for :description do%>
          Crossword solver for instantly solving those annoying 
          crossword clues
        <%end%>

        Crossword Solver
      <%elsif @operation == Operation::Scrabble%>

        <%content_for :title do%>
          Scrabble Solver
        <%end%>

        <%content_for :description do%>
          Scrabble solver for instant magical suggestions on words
          to make
        <%end%>

        Scrabble Solver
      <%end%>
    </h1>

    <p class="lead">
      <%if @operation == Operation::Jumble%>
        Type a jumbled word & press enter
      <%elsif @operation == Operation::Crossword%>
        Type ? for unknown letters (eg: cro?sw?rd) & press enter
      <%elsif @operation == Operation::Scrabble%>
        Type the letters on your tiles (use ? for blank tiles) & press enter
      <%end%>
    </p> 

    <%=form_tag solver_index_path, 
        :method => :get, 
        :remote => true,
        :id => "solver" do%>
      
      <%= hidden_field_tag :operation, @operation%>

      <input id="word" 
        name="word"
        type="text" 
        class="input-xlarge">

    <%end%>

    <%=image_tag "spinner.gif", 
        :id => :spinner,
        :style => "display:none"%>

    <div id="no_matches_found" class="row" style="display: none">
      <div class="span3 offset3">
        <div class="alert text-center">
          Sorry, no words found.
        </div>
      </div>
    </div>

    <div id="solved_words">
    </div>
    
  </div>

  <hr>

  <div class="footer">
    <%if @operation == Operation::Jumble%>
      <%=render :partial => "misc/tweet_button",
          :locals => {
            :text => "The easiest way to solve that annoying word jumble",
            :hashtag => "jumble"}%>
    <%elsif @operation == Operation::Crossword%>
      <%=render :partial => "misc/tweet_button",
          :locals => {
            :text => "The easiest way to solve that annoying crossword clue",
            :hashtag => "crossword"}%>
    <%elsif @operation == Operation::Scrabble%>
      <%=render :partial => "misc/tweet_button",
          :locals => {
            :text => "The easiest way to get instant suggestions for scrabble words",
            :hashtag => "scrabble"}%>
    <%end%>

      <span style="float:right">
        Made with love by 
        <%=link_to "@sidbatra",
            "http://twitter.com/sidbatra",
            :target => "_blank"%>
      </span>
  </div>

</div> <!-- /container -->

<%=content_for :javascript do%>
<script type="text/javascript">
  $('#word').focus();

  $('#solver').submit(function(){
    $('#no_matches_found').hide();
    $('#solved_words').html('');
    $('#spinner').show();
  });
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">
twttr.conversion.trackPid('l56zd');</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l56zd&p_id=Twitter" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l56zd&p_id=Twitter" /></noscript>

<%=render :partial => "misc/google_analytics",
    :locals => {:tracking_id => @google_analytics_id}%>

<%end%>

